Flask            # Основной веб-фреймворк для создания приложения (2.3.3)
Flask-WTF        # Работа с веб-формами и их валидацией (1.1.1)
Flask-SQLAlchemy # ORM для работы с базой данных (интеграция SQLAlchemy с Flask) (3.0.5)
Flask-Migrate    # Управление миграциями базы данных (4.0.4)
Flask-Login      # Реализация аутентификации и управления сеансами пользователей (0.6.3)
Flask-Bootstrap  # Интеграция Bootstrap для удобного использования шаблонов (3.3.7.1)
email-validator  # Проверка корректности email-адресов (1.3.1)
python-dotenv    # Работа с файлом .env для хранения конфиденциальных настроек (1.0.0)
WTForms          # Библиотека для создания и обработки веб-форм (3.0.1)
